.Login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.box {
  background-color: rgb(161, 161, 161);
  padding: 20px;
  
  width: 720px;
  max-width: 800px;
}
.form {
    padding-top: 20px;
    color: black;
}
.form .creadentialData {
  padding: 10px 0px 10px 0px;
}

.form input {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}
.form button {
  background-color: rgb(16, 16, 233);
  border: none;
  display: block;
  width: 100%;
}
.privacy{
    margin-top: 20px;
}