@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Jim+Nightshade&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne+Tactile&family=Syne:wght@400..800&display=swap");
.Category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: aqua; */
  padding: 16px;
}
.Category .text {
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 40px !important;
  line-height: 48px !important;
}
