.privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container-inr {
  margin-top: 20px;
  width: 1220px;
  max-width: 1400px;
}

.container-inr h3{
  margin-top: 10px;
}
.container-inr ul{
  padding: 10px 0px 10px 20px;
}